[Unit]
Description=FFServer instance for streaming to People Counter UI

[Service]
Type=simple
WorkingDirectory=/home/juganu/people-counter-cpp
ExecStart=/usr/bin/ffserver -f ffmpeg/server.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
